<module xmlns="http://influx.adesso.de/module">
  <!-- this is the name of the plugin shown to the user -->
  <name>bpmn definitions datastore</name>
  <!-- this is the directory name in the modules dir, where the
        module will be installed
   -->
  <install-path>bpmn-definitions-datastore</install-path>
  <!-- this is the type of the plugin -->
  <type>datastore</type>
  <!-- the plugins will be loaded and must be working xquery modules -->
  <plugins>bpmn-process-definition-datastore.xqm</plugins>
  <description><span data-i18n="description-bpmn-definitions-datastore">Speichern Sie Ihre BPMN Diagramme in einer zentralen und performanten XML Datenbank.</span></description>
  <setup>
    <collection name="definitions" dir="install"/>
  </setup>
  <manage-icon>
    <div xmlns="http://www.w3.org/1999/xhtml" class="app-icon">
      <i class="fa fa-database"/>
    </div>
  </manage-icon>
  <version>1.2.1</version>
  <id>59ab9c2d-6e7d-4023-bdf6-8c37f4d27007</id>
</module>
